<?xml version="1.0"?>
<config>
    <modules>
        <MageHost_RewriteFix>
            <version>1.6.0</version>
        </MageHost_RewriteFix>
    </modules>
    <global>
        <models>
            <magehost_rewritefix>
                <class>MageHost_RewriteFix_Model</class>
            </magehost_rewritefix>
            <catalog>
                <rewrite>
                    <url>MageHost_RewriteFix_Model_Catalog_Url</url>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <magehost_rewritefix>
                <class>MageHost_RewriteFix_Helper</class>
            </magehost_rewritefix>
        </helpers>
        <events>
            <controller_action_predispatch_cms_index_noroute>
                <observers>
                    <magehost_rewritefix>
                        <type>singleton</type>
                        <class>magehost_rewritefix/observer</class>
                        <method>controllerActionPredispatchCmsIndexNoRoute</method>
                    </magehost_rewritefix>
                </observers>
            </controller_action_predispatch_cms_index_noroute>
            <!-- for Magento pre SUPEE-7405 -->
            <controller_action_predispatch_cms_index_noRoute>
                <observers>
                    <magehost_rewritefix>
                        <type>singleton</type>
                        <class>magehost_rewritefix/observer</class>
                        <method>controllerActionPredispatchCmsIndexNoRoute</method>
                    </magehost_rewritefix>
                </observers>
            </controller_action_predispatch_cms_index_noRoute>
            <!-- /for Magento pre SUPEE-7405 -->
            <after_reindex_process_catalog_url>
                <observers>
                    <magehost_rewritefix>
                        <type>singleton</type>
                        <class>magehost_rewritefix/observer</class>
                        <method>afterReindexProcessCatalogUrl</method>
                    </magehost_rewritefix>
                </observers>
            </after_reindex_process_catalog_url>
            <adminhtml_block_html_before>
                <observers>
                    <magehost_rewritefix>
                        <type>singleton</type>
                        <class>magehost_rewritefix/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </magehost_rewritefix>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </global>
</config>