<?xml version="1.0"?>
<config>
    <modules>
        <JeroenVermeulen_RewriteFix>
            <version>1.2.1</version>
        </JeroenVermeulen_RewriteFix>
    </modules>
    <global>
        <models>
            <jeroenvermeulen_rewritefix>
                <class>JeroenVermeulen_RewriteFix_Model</class>
            </jeroenvermeulen_rewritefix>
            <catalog>
                <rewrite>
                    <url>JeroenVermeulen_RewriteFix_Model_Catalog_Url</url>
                </rewrite>
            </catalog>
        </models>
        <events>
            <controller_action_predispatch_cms_index_noRoute>
                <observers>
                    <jeroenvermeulen_rewritefix>
                        <type>singleton</type>
                        <class>jeroenvermeulen_rewritefix/observer</class>
                        <method>controllerActionPredispatchCmsIndexNoRoute</method>
                    </jeroenvermeulen_rewritefix>
                </observers>
            </controller_action_predispatch_cms_index_noRoute>
            <after_reindex_process_catalog_url>
                <observers>
                    <jeroenvermeulen_rewritefix>
                        <type>singleton</type>
                        <class>jeroenvermeulen_rewritefix/observer</class>
                        <method>afterReindexProcessCatalogUrl</method>
                    </jeroenvermeulen_rewritefix>
                </observers>
            </after_reindex_process_catalog_url>
            <adminhtml_block_html_before>
                <observers>
                    <jeroenvermeulen_rewritefix>
                        <type>singleton</type>
                        <class>jeroenvermeulen_rewritefix/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </jeroenvermeulen_rewritefix>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </global>
</config>